{
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "singleQuote": true,
  "trailingComma": "none",
  "importOrder": [
    "^@/server/(.*)$",
    "^@/settings/(.*)$",
    "^@/constants/(.*)$",
    "^@/assets/(.*)$",
    "^@/lib/(.*)$",
    "^@/api/(.*)$",
    "^@/schemas/(.*)$",
    "^@/stores/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/utils/(.*)$",
    "^@/types/(.*)$",
    "^@/styles/globals.css$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
